.header{
    color: black;
    text-align: left;
    background-color: #b0e0e6;
    padding: 10px;
    margin-bottom: 1rem;
}
.headerText{
    margin: 0;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}